<script>
    function escapeHtml(text) {
        return text
                .replace(/&/g, "&amp;")
                .replace(/</g, "&lt;")
                .replace(/>/g, "&gt;")
                .replace(/"/g, "&quot;")
                .replace(/'/g, "&#039;");
    }
    $(document).ready(function() {
        var submit = function() {
            var $form = $(this);

            $.post('/sanyaform/ajax', $form.serialize(), function(data) {
                $('.alert').hide();
                if (data) {
                    if (data['form']) {
                        var $new = $(data['form']);
                        $new.submit(submit);
                        $form.replaceWith($new);
                        $form = $new;
                        data['form'] = '<form> ### The rendered form ### </form>';
                    }
                    var $alert = $('<div class="alert alert-info"></div>')
                    $alert.append('<button type="button" class="close" data-dismiss="alert">×</button>');
                    $alert.append('<h4>Message from jQuery.post() success callback</h4>');
                    $alert.append('<p>Input in method:</p>');
                    $alert.append('<pre>' + escapeHtml(JSON.stringify(data, null, 4)) + '</pre>');
                    $form.after($alert);
                }
            }, 'json');
            return false;
        }
        $('form').submit(submit);
    });

</script>
<div class="page-header">
    <h1>SanyaForm with Ajax</h1>
</div>
<?php
include __DIR__ . '/body.phtml';
