<div class="page-header">
    <h1>About SanyaForm</h1>
</div>

<ul>
    <li><a href="<?php echo $this->url('sanyaform_demo', array('action' => 'ajax')) ?>">Form send with Ajax</a></li>
    <li><a href="<?php echo $this->url('sanyaform_demo', array('action' => 'post')) ?>">Form send with Post/Redirect/Get</a></li>
</ul>
